{% extends "layout.html" %}

{% block content %}

<!--the contents of the staff portal, setup as two rows divided into two columns each via bootstrap-->

<div class="row ms-5 me-5 mt-5">
        <div class="col justify-content-center text-left id="staffportalwelcome">
            <h6><b>Welcome to the Staff Portal</b></h6>
        </div>
    </div>
 <div class="row  ms-5 me-5 mt-5 mb-5 ps-5 pe-5 pt-5 pb-5">
        <div class="col justify-content-center text-center" style="..." id="staffdownload">
              <a class = "navbar-brand ms-5 me-5 mt-5 mb-5 ps-5 pe-5 pt-5 pb-5" href="{{ url_for('getCSV') }}">
                <img src= "{{ url_for('static', filename='img/download.png') }}" alt="download_pic"class="square"  width="100px" height="100px">
            </a>
        <a href = "{{ url_for ('getCSV') }}"><h3>Download Student Questionnaire Results</h3></a>
        </div>
         <div class="col justify-content-center text-center" style="..." id="staff_ques">
             <a class = "navbar-brand ms-5 me-5 mt-5 mb-5 ps-5 pe-5 pb-5 pt-5 " href="{{ url_for('staffques') }}">
                <img src= "{{ url_for('static', filename='img/addgroup.png') }}" alt="group_add"class="square"width="100px" height="100px">
            </a>
             <a href ="{{ url_for('staffques') }}"><h3> Team Sorting </h3></a>
        </div>
    </div>
<div class="row  ms-5 me-5 mt-5 mb-5 ps-5 pe-5 pt-5 pb-5">
        <div class="col justify-content-center text-center" style="..." id="viewtableresults">
              <a class = "navbar-brand ms-5 me-5 mt-5 mb-5 ps-5 pe-5 pt-5 pb-5" href="{{ url_for('view_quest') }}">
                <img src= "{{ url_for('static', filename='img/checkbox.png') }}" alt="checkbox_pic"class="square"  width="100px" height="100px">
            </a>
        <a href = "{{ url_for ('view_quest') }}"><h3>View Questionnaire Results</h3></a>
        </div>
         <div class="col justify-content-center text-center" style="..." id="holding_point">
             <a class = "navbar-brand ms-5 me-5 mt-5 mb-5 ps-5 pe-5 pb-5 pt-5 " href="{{ url_for('staff') }}">
                <img src= "{{ url_for('static', filename='img/idea.png') }}" alt="idea_pic"class="square"width="100px" height="100px">
            </a>
             <a href ="{{ url_for('staff') }}"><h3> Holding Place</h3></a>
        </div>
    </div>
{% endblock content %}