{% extends "layout.html" %}

{% block content %}
<b>{{ student_answers }} is the answers to the questions
{{ number_questions }} is the number of questions
    {{ student_questions }}  are the questions </b>

<form name="quiz" action="{{ url_for('results') }}" method="post" enctype="multipart/form-data">

    <p>Please select your answer from the list below</p>
    {% for item in range(number_questions) %}

        <b>{{ student_questions[item] }}</b>
        <label for "answers">Choose an answer</label>
        <br>

          {% for answer in range(student_answers[item]|length) %}



            <input type= "radio" name="question_choice" value={{ student_answers[item][answer-1] }}>{{ student_answers[item][answer-1] }}</br>

            {% endfor %}




        <label for "text">Any extra information</label>
        <input type="text" name="extrainfo">
        <br>



    {% endfor %}

     <input type="submit"  values="Submit">
        </form>


<!-- information on how to use counters in jinja loops https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template-->

{% endblock content %}

<!--TODO - make the file read multiple radio buttons at once-->